header.main {
    h1 {
        display: none;
    }

    h2 {
        font-size: .9em;
        font-weight: bold;
        color: #629125;
        text-align: center;

        a {
            text-decoration: none;
            color: #629125;
            transition: color 0.3s;
            font-weight: bold;

            &:hover {
                color: #395712;
            }
        }
    }

    h3 {
        font-size: .7em;
        font-weight: bold;
        color: #629125;
        text-align: center;

        a {
            text-decoration: none;
            color: #629125;
            transition: color 0.3s;
            font-weight: bold;

            &:hover {
                color: #395712;
            }
        }
    }

    picture.logo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 3200px;

        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    }
}
