@import "reset";
@import "animations";

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

@import "header";
@import "status";

@import "form";

@import "results";

@import "footer";
